.actor-container {
	display: flex;
	align-items: center;
	border-top: 1px solid gray;
	padding-top: 5px;
	&:last-of-type {
		border-bottom: 1px solid gray;
	}
	.actor-img {
		img {
			width: 100px;
		}
		margin-left: 20px;
		margin-right: 16px;
	}
	.actor-details {
		display: flex;
		flex-direction: column;
		.actor-name {
			font-weight: bold;
		}
		p {
			font-size: 12px;
		}
	}
}

.movies {
	margin-top: 100px;
	padding: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: rgba(86, 77, 77, 0.5);
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;

	.poster {
		padding: 16px;
		img {
			width: 100px;
		}
	}
}

#video,
.canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}
