.actors {
	.actor-container {
		display: flex;
		align-items: center;
		border-top: 1px solid gray;
		padding-top: 5px;

		&:last-of-type {
			border-bottom: 1px solid gray;
		}

		.actor-img {
			img {
				width: 100px;
			}
			margin-right: 16px;
		}
		.actor-details {
			display: flex;
			flex-direction: column;

			.actor-name {
				font-weight: bold;
			}

			p {
				font-size: 12px;
			}
		}
    }
    
.movie-poster {
	width: 100px;
}
