.actor-container {
	display: flex;
	align-items: center;
	border-top: 1px solid gray;
	padding-top: 5px;
	&:last-of-type {
		border-bottom: 1px solid gray;
	}
	.actor-img {
		img {
			width: 100px;
		}
		margin-left: 20px;
		margin-right: 16px;
	}
	.actor-details {
		display: flex;
		flex-direction: column;
		.actor-name {
			font-weight: bold;
		}
		p {
			font-size: 12px;
		}
	}
}

.movies {
	margin-top: 50px;
	padding: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #001d2a;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;

	.poster {
		padding: 16px;
		img {
			width: 100px;
		}
	}
}

.canvas-div,
.stream,
.loading {
	display: block;
	height: 300px;
	width: 100%;
	text-align: center;
	padding: 20px 0;
}
